# Environment variables
.env
solutions/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# dv-smith specific
dvsmith_workspace/
*.ucdb
*.log
work/
transcript
vsim.wlf
*.vcd
*.fsdb
cov_work/
simv/
*.key
*.vpd

# Sim artifacts
*.o
*.so
*.a
*.bin
